/* основний колір: #757575 */
/* другорядний колір: #212121 */
/* фон( в залежності від секції):#2F303A, #F5F4FA; */
/* чорний #000000 */
/* білий: #FFFFFF */
/* акцент: #2196F3 */
/* додатковий акцент: #188CE8 */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --first-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --logo-header-color: #000000;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --white-semi-transparent: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* утилітарний клас */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* скидання стилів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* стилі хедера */

.page-header {
  border-bottom: 1px solid #ececec;
}

/* логотип в хедері */

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-header-color);
}

.accent {
  color: var(--accent-color);
}

/* навігація */
.navigation {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* пошта і телефон */
.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* --СТУДІЯ-- */

/* герой */

.hero {
  /* фон задано тимчасово, для відображення кольору тексту */
  background-color: var(--first-background-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-btn {
  margin-bottom: 200px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--second-accent-color);
}

/* прихований заголовок */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* секція */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* переваги */

.advantages {
  display: flex;
}

.advantages .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.advantages .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* види роботи */

.works {
  display: flex;
}

.work-image {
  display: block;
}

.works .work-item + .work-item {
  margin-left: 30px;
}
/* команда */

.team {
  display: flex;
}

.member-image {
  display: block;
  margin-bottom: 30px;
}

.team .team-member + .team-member {
  margin-left: 30px;
}

.team-member {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.team .team-position {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.different-background {
  background-color: var(--second-background-color);
}

/* --ПОРТФОЛІО-- */

/* фільтр */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item + .item {
  margin-left: 8px;
}
.filter .filter-btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--second-background-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* приклади проектів */

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples .examples-item {
  background-color: var(--primary-white-color);
}

.examples .example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.examples .example-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* підвал */

.page-footer {
  /* фон задано тимчасово, для відображення кольору тексту */

  background-color: var(--first-background-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-white-color);
}

.contacts .location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-white-color);
}

.contacts .contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-semi-transparent);
}

.location:hover,
.location:focus {
  color: var(--accent-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
